.learn-more {
    height: var(--section-height);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}
.learn-more .left-panel,
.learn-more .right-panel {
    margin: var(--margin-left-right);
    height: var(--panels-height);
}
.learn-more .left-panel {
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--brown);
    border-radius: 1rem;
}

.learn-more .left-panel img{
    height: 100%;
    width: 100%;
    background-size: contain;
    border-radius: 1rem;
}
.learn-more .right-panel {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.learn-more .right-panel .heading {
    border-bottom: 1px solid var(--brown);
}
