.container {
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
}
.card-body {
    cursor: pointer;   
    transition: all 0.5s ease;
}

.card-body:hover .card-button {
    background-color: antiquewhite;
    color: var(--black);
}
.card-heading {
    height: 60%;
    position: relative;
}
.card-heading img {
    height: 100%;
    width: 100%;
    background-size: contain;
}

.card-heading .card-button {
    position: absolute;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    cursor: pointer;   
}

.card-content {
    height: 40%;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.card-content .day-time,
.card-content .time {
    margin: var(--margin-left-right);
}

.card-content .time span:first-child {
    margin-right: 5px;
}


