
.footer-container {
    background-color: #1a1a1a;
    color: whitesmoke;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.address,
.social-media,
.copyright {
    margin: 20px 0;
}

.address {
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.social-media ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.social-media ul li {
    margin: 0 10px;
}
.social-media ul li a {
    font-size: 1.5rem;
    display: block;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 50%;
    outline: none;
    transition: all 0.4s ease;
}

.social-media ul li a:hover {
    background-color: whitesmoke;
    color: #1a1a1a;
}

.terms {
    color: rgb(248, 102, 102);
}