.nav-container {
    position: sticky;
    top: 0px;
    z-index: 20;
}
.navbar {
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: var(--black);
}

.navbar .logo h1{
    font-size: 1.5rem;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 1.8px;
    word-spacing: 0.8px;
    color: var(--black);
    font-weight: 400;
    font-style: italic;
    font-variant: small-caps;
    text-transform: none;
    cursor: pointer;
    user-select: none;
}
.navbar .logo h1 span{
    color: var(--red);
}

.navbar .menus .menu-items{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navbar .menus .menu-items li {
    margin: 0 10px;
    font-weight: bolder;
    cursor: pointer;
}

.navbar .menus .menu-items li a {
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
    margin: 0 5px;
}

.navbar .menus .menu-items li a:hover {
    color: var(--red);
    transform: scale(1.2);
}

.navbar .donate {
    color: var(--red);
    font-size: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.navbar .donate:hover {
    color: rgb(244, 71, 71);
    transform: scale(1.1);
}

