@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,900;1,100;1,200;1,300&family=Tilt+Prism&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --red: rgb(248, 102, 102);
  --brown: #e3b979;
  --black: #1a1a1a;
  --heading-size: 1.6rem;
  --sub-heading-size: 1.3rem;
  --content-size: 1rem;
  --section-height: calc(100vh - 100px);
  --panels-height:  60%;
  --margin-left-right: 0 20px;
  --margin-top-bottom: 20px 0;
}

.section-height {
  height: var(--section-height);
}

.heading {
  font-size: var(--heading-size);
  color: var(--red);

}

.sub-heading {
  font-size: var(--sub-heading-size);
  color: var(--brown);
}

.content {
  font-size: var(--content-size);
  color: var(--black);
}

.author {
  font-size: 1.5rem;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--red);
}
