@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.main {
 color: white;
 width: 100%;
 background-image: url('../public/assets/images/BSF_BG_Images.jpg');
 background-position: center;
 background-size: cover;
 height: 100vh;
}