* {
  margin: 0;
  padding: 0;
}
.main {
 color: white;
 width: 100%;
 background-image: url('../public/assets/images/BSF_BG_Images.jpg');
 background-position: center;
 background-size: cover;
 height: 100vh;
}